#root {
  max-width: 1280px;
  height: 500px;
  margin: auto;
  padding: 2rem;
  text-align: center;
  /* background-color: rgb(33, 128, 223); */
  /* background-image: url(./assets/pexels-itismowgli-824197.jpg);
  background-repeat: no-repeat;
  background-size: 100%; */
}